@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

.btn {
  button {
    padding: 8px 36px;
    border-radius: 12px;
    font-size: 14px;
    border: none;
    color: white;
    background-color: #2c08d9;
    opacity: .95;
    cursor: pointer;
    transition: all .1s;
  }
  button:hover {
    opacity: 1;
  }
  button:active {
    transform: translateY(2px);
  }
}
